<div class="container">
<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
    <img src="https://api.adorable.io/avatars/278/holi.png" alt="">
    </div>
    <div class="col-sm-4"></div>
</div>

<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <button class="btn btn-primary btn-lg btn-block" [routerLink]="['/usuario','user','info']">
            Informacion
        </button>
    </div>
    <div class="col-sm-4"></div>
</div>


</div>
